body {
    text-align: center;
}
body ul,ol {
    list-style-position: inside;
}
h2 {
    font-size: 2rem;
}
.menu {
    display: flex;
    justify-content: center;
    list-style: none;
}
.menu li {
    padding: 1rem;
}
h5 {
    color: blueviolet;
    font-size: 1.4rem;
}
img {
    max-width: 17rem;
}